<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>WEB PRACTICE </title>
    <script src="https://kit.fontawesome.com/a165c88826.js" crossorigin="anonymous"></script>

    <style>
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            --text-color: black;
        }

        table td,
        table th {
            text-align: center;
            padding: 5px;
        }

        table th {
            background-color: sandybrown;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <div class="navbar__logo">
        <i class="fas fa-cubes"></i>
        <a href="">Para Comics</a>
    </div>

    <ul class="navbar__menu">
        <li><a href="https://comic.naver.com/index">Naver</a></li>
        <li><a href="https://webtoon.kakao.com/">Kakao</a></li>
        <li><a href="https://newtoki107.com/">NewToki</a></li>
    </ul>
    <ul class="navbar__icons">
        <li><i class="fab fa-neos"></i></li>
        <li><i class="fab fa-kaggle"></i></li>
        <li><i class="fas fa-dragon"></i></li>
    </ul>

    <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

<table border="1">
    <tr>
        <th><i class="fab fa-accusoft"></i></i></th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
        <th>일</th>
    </tr>

    <tr>
        <td><i class="fab fa-neos">aver</i></td>
        <td>
            <a href="https://comic.naver.com/webtoon/list?titleId=183559&weekday=mon">
                <img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="83" height="90" title="신의탑" alt="신의탑"><br/>
            </a>

            <a href="https://comic.naver.com/webtoon/list?titleId=183559&weekday=mon" class="title" title="신의탑">신의탑</a>
            <hr/>
        </td>

        <td>
            <a href="https://comic.naver.com/webtoon/list?titleId=773459&weekday=tue">
                <img src="https://shared-comic.pstatic.net/thumb/webtoon/773459/thumbnail/thumbnail_IMAG10_050d4f7b-68b1-496a-95fa-b86564875846.jpg" width="83" height="90" title="용사가 돌아왔다" alt="용사가 돌아왔다">
            </a>
            </br>
            <a href="https://comic.naver.com/webtoon/list?titleId=773459&weekday=tue" class="title" title="용사가 돌아왔다">용사가 돌아왔다</a>
        </td>

        <td><img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="150px"><br/>
            <a href=""></a>
        </td>

        <td><img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="150px"><br/>
            <a href=""></a>
        </td>

        <td><img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="150px"><br/>
            <a href=""></a>
        </td>

        <td><img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="150px"><br/>
            <a href=""></a>
        </td>

        <td><img src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fcfile232.uf.daum.net%2Fimage%2F266AA539550005323433E0&type=a340" width="150px"><br/>
            <a href=""></a>
        </td>
    </tr>

    <tr>
        <td><i class="fab fa-kaggle">akao</i></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td><i class="fab fa-neos">ewToki</i></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
</body>
<script src="/main.js">

</script>
</html>